@model MainLibrary.Entity.WebCenter.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BE_Layout/_LayoutBE.cshtml";
    var entity = (Model ?? new Category()) as MainLibrary.Entity.WebCenter.Category;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        @Html.ValidationBootstrap()
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Details </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form onload="getFileFunction()" id="smart-form-register" action="@Url.Action("SaveDanhMuc","DanhMuc")" method="POST" enctype="multipart/form-data" class="smart-form">
                                <input type="hidden" id="Id" name="Id" value="@entity.Id" />
                                <input type="hidden" id="FileId" name="FileId" value="@entity.FileId" />
                                <header>
                                    @entity.Name
                                </header>
                                <fieldset>
                                    <section>
                                        <label class="label">Tên</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-file-text"></i>
                                            <input type="text" id="Name" name="Name" value="@entity.Name">
                                            <b class="tooltip tooltip-bottom-right">Needed to enter the name</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="label">Danh mục cha</label>
                                        <div class="input">
                                            @Html.DropDownList("ParentId", (IEnumerable<SelectListItem>)(ViewBag.Cate), new { @class = "select2 select2-offscreen", @style = "width:100%", @placeholder = "Select Category" })
                                        </div>
                                    </section>

                                    <section>
                                        <label class="label">Mô tả</label>
                                        <div class="input">
                                            <textarea id="HTMLstr" name="HTMLstr" class="form-control" rows="5">@entity.Description</textarea>
                                        </div>
                                    </section>
                                    <section></section>

                                    <section>
                                        <img id="imgDes" src="@entity.FEPath" width="200px" height="200px" />
                                        <label class="label">Min 500 x 500 (px)</label>
                                        <label class="label">File input</label>
                                        <div class="input input-file">
                                            <span class="button"><input id="myFile" accept="image/*" type="file" name="myFile" onchange="getFileFunction()" placeholder="Include some files">Browse</span><input id="fileText" type="text" placeholder="Include some files" readonly="">
                                        </div>
                                        <div id="fileNote" class="note note-error" style="color:red"></div>
                                    </section>

                                    <section>
                                        <label class="label">Thứ tự</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-sort-numeric-asc"></i>
                                            <input type="number" id="Order" name="Order" value="@entity.Order">
                                            <b class="tooltip tooltip-bottom-right">Needed to enter the order</b>
                                        </label>
                                    </section>
                                </fieldset>
                                <fieldset>
                                    <section>
                                        <label class="checkbox">
                                            @Html.CheckBox("IsPin", entity.IsPin)
                                            <i></i>Hiển thị bảng dịch vụ
                                        </label>
                                        <label class="checkbox">
                                            @Html.CheckBox("IsShowHomePage", entity.IsShowHomePage)
                                            <i></i>Hiển thị trên trang chủ
                                        </label>
                                        @*<label class="checkbox">
                                            @Html.CheckBox("IsShowLibrary", entity.IsShowLibrary)
                                            <i></i>Hiển thị thư viện ảnh
                                        </label>*@
                                        <label class="checkbox">
                                            @Html.CheckBox("IsShowLeft", entity.IsShowLeft)
                                            <i></i>Hiển thị bên trái trang chủ
                                        </label>
                                        <label class="checkbox">
                                            @Html.CheckBox("IsActive", entity.IsActive)
                                            <i></i>Enable
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script src="/scripts/plugin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        function getFileFunction() {
            var x = document.getElementById("myFile");
            var txt = "";
            var file = x.files[0];
            if (file) {
                if (file.name == "") {
                    txt += "Select one or more files.";
                } else if ((file.size / 1024) >= 3024) {
                    txt += "File size must be less than 3Mb.";
                } else {
                    txt += "";
                }
            }
            //}
            document.getElementById('fileText').value = file.name;
            document.getElementById('fileNote').innerHTML = txt;
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgDes').attr('src', e.target.result);
            }

            reader.readAsDataURL(file);
        }
        $(document).ready(function () {
            editor = CKEDITOR.replace('HTMLstr', {
                height: '380px', startupFocus: true
            });

            var $registerForm = $("#smart-form-register").validate({

                // Rules for form validation
                rules: {
                    Name: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    Name: {
                        required: 'Please enter name'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });




        })</script>
}